@media all and (max-width: 450px) {
  .page > #quartz-body .sidebar.left {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  
  .page > #quartz-body .sidebar.left > .page-title {
    flex-basis: 100% !important;
    width: 100% !important;
    margin-bottom: 1rem;
    order: 1;
    text-align: center;
  }
  
  .page > #quartz-body .sidebar.left > .search {
    flex: 0 0 auto;
    order: 2;
  }
  
  .page > #quartz-body .sidebar.left > .darkmode {
    flex: 0 0 auto;
    order: 3;
  }
  
  .page > #quartz-body .sidebar.left > #nowplaying {
    flex-basis: 100% !important;
    width: 100% !important;
    margin-top: 1rem;
    order: 999;
    display: flex;
    justify-content: center;
  }
  
  .page > #quartz-body .sidebar.left > .spacer {
    display: none;
  }
}

@media all and (min-width: 451px) and (max-width: 800px) {
  .page > #quartz-body .sidebar.left {
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 0.5rem 1rem;
    position: relative !important;
    height: auto !important;
  }
  
  .page > #quartz-body .sidebar.left > .page-title {
    grid-column: 1;
    grid-row: 1 / 3;
    order: 1;
    text-align: left;
  }
  
  .page > #quartz-body .sidebar.left > .search {
    grid-column: 2;
    grid-row: 1;
    order: 2;
    justify-self: center;
  }
  
  .page > #quartz-body .sidebar.left > .darkmode {
    grid-column: 2;
    grid-row: 2;
    order: 3;
    justify-self: center;
  }
  
  .page > #quartz-body .sidebar.left > #nowplaying {
    grid-column: 3;
    grid-row: 1 / 3;
    order: 4;
    max-width: 250px;
  }
  
  .page > #quartz-body .sidebar.left > .spacer {
    display: none;
  }
}


/* dark icon should replace nowplaying if not available */

@media all and (min-width: 451px) and (max-width: 800px) {
  .page > #quartz-body .sidebar.left:not(:has(#nowplaying)) {
    grid-template-columns: auto 1fr auto; /* still 3 columns */
  }

  .page > #quartz-body .sidebar.left:not(:has(#nowplaying)) > .darkmode {
    grid-column: 3;
    grid-row: 1 / 3;
    justify-self: end;
  }
}

@media all and (max-width: 450px) {
  .page > #quartz-body .sidebar.left:not(:has(#nowplaying)) > .darkmode {
    order: 999; 
  }
}